.classpath
.eclipse-pmd
.pmd
.factorypath
.project
.ruleset
.settings/
.springBeans
.factorypath
.DS_Store
/src/main/java/com/b2wdigital/octopus/stub
/target
/lib
/reports
nbactions.xml
nb-configuration.xml
README.md
/target/
/bin/
/.gradle/
/build/
*.log
*.orig
*.iml
/.apt_generated/
.factorypath
.idea/
.vscode
